[submodule "modules/weightDriver"]
	path = modules/weightDriver
	url = git@github.com:IngoClemens/weightDriver.git
[submodule "modules/rampWeight"]
	path = modules/rampWeight
	url = git@github.com:IngoClemens/rampWeights.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "modules/cvwrap"]
	path = modules/cvwrap
	url = git@github.com:chadmv/cvwrap.git
[submodule "modules/cmt"]
	path = modules/cmt
	url = git@github.com:chadmv/cmt.git
[submodule "modules/maya-dem-bones"]
	path = modules/maya-dem-bones
	url = git@github.com:robertjoosten/maya-dem-bones.git
[submodule "thirdparty/dem-bones"]
	path = thirdparty/dem-bones
	url = git@github.com:electronicarts/dem-bones.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "thirdparty/llvm-project"]
	path = thirdparty/llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "modules/brSmoothWeights"]
	path = modules/brSmoothWeights
	url = git@github.com:IngoClemens/brSmoothWeights.git
